body {
    background-image: linear-gradient(45deg, rgb(0, 49, 173),rgb(120, 199, 255));
    height: 2000px;
    font-family: segoe UI light;
}

.home {
    background-color: #5FBDFF;
    text-align: center;
    padding: 20px;
}
.div1 {
    width: 30%;
    display: inline-block;
    background-image: linear-gradient(45deg, rgb(0, 49, 173),rgb(120, 199, 255));
    border: 3px white solid;
    padding: 5px;
}
.div1 img {
    width: 100%;
}

.btn {
    color: #5FBDFF;
    text-decoration: none;
    padding: 4px 10px;
    background-color:#5FBDFF;
    color:rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px white solid;
    width: 100px;
    height: 40px;
}

.container {
    height: 450px;
    margin-top: 50px;
    background-image: url(./img/img-1.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    opacity:0-1;
}